<launch>
    <node name="anyName" pkg="camera_is1500" type="camera_is1500" output="screen">
    </node>
    <!-- transformation between camera and base_link -->
    <node pkg="tf2_ros" type="static_transform_publisher"
      name="base_camera_broadcaster"
      args="0.75 0 0.83 0 3.4906 0 base_link base_camera" />
    <!-- <node name="sfHub" pkg="camera_is1500" type="script" output="screen">
    </node> -->
    <!-- <node name="sfHub" pkg="camera_is1500" type="scriptSHub" output="screen">
    </node> -->

    <!-- <node name="rViz" pkg="rviz" type= "rviz" output="screen"></node>-->
    <!-- <node name="node_manager" pkg="node_manager" type= "node_manager" output="screen"></node> -->
</launch>
